.machine-image {
  text-align: center;
  margin: 0 auto;
}

.start-button {
  text-align: center;
  margin: 0 auto;
}

.btn {
  height: 50px;
  width: 100px;
}

.rotary-table {
  text-align: center;
  margin: 0 auto;
  background-image: url("../../assets/slot-machine.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 500px;
  position: relative;
  top: 10px;
  z-index: 2;
}

.screen {
  width: 113px;
  height: 154px;
  overflow: hidden;
  float: left;
  border: 1px solid #000000;
  position: relative;
  left: 58px;
}
.images {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}
li {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 154px;
  line-height: 154px;
  font-size: 30px;
  background-color: wheat;
  border: 1px solid #6f6f6f;
}

.all-screen{
  height: 154px;
  width: 400px;
  position: relative;
  top: 175px;
  left: 0;
}
.transtion{
  transition: all ease 2s;
}
#stick-up{
  width: 100px;
  cursor: pointer;
  position: relative;
  top: 0;
  z-index: 1;
}
#stick-down{
  width: 100px;
  position:relative;
  top: 150px;
}
.stick{
  width: 100px;
  position: absolute;
  top: 120px;
  left: 980px;
  z-index: 1;
}
#button{
  height: 50px;
  width: 100px;
  background-color: #ffaa46;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #000000;
  font-size: 20px;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  display: block;
}

#button:hover{
  background-color: #f5890d;
}

.button{
  text-align: center;
  margin: 0 auto;
}

.window{
  height: 200px;
  width: 450px;
  background-color: #fff;
  border: 1px solid #6f6f6f;
  text-align: center;
  margin:0 auto;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1500;
  display: none;
}
button{
  cursor: pointer;
}
.buttons{
  text-align: center;
  margin: 0 auto ;
  position: relative;
  top: 70px;
  height: 40px;
}

#left-button{
  float: left;
  position: relative;
  left: 40px;
  height: 35px;
  width: 100px;
  background-color: #027438;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #afafaf;
  font-size: 15px;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  color: #fff;

}

#right-button{
  float: right;
  position: relative;
  right: 40px;
  height: 35px;
  width: 110px;
  background-color: #ffaa46;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #afafaf;
  font-size: 15px;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
}

h2{
  position: relative;
  top: 20px;
}

.shadow{
 text-align: center;
 position: absolute;
 height: 100%;
 width: 100%;
 background-color: rgba(90, 90, 90, 0.5);
 z-index: 1000;
 display: none;
}

.dish-picture{
  text-align: center;
  margin:0 auto;
  object-fit: cover;
  width: 113px;
  height: 154px;
}

#disabled-button{
  height: 50px;
  width: 100px;
  background-color: #afafaf;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #000000;
  font-size: 20px;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  display: none;
}
app-footer{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
