<div class="machine">
  <div class="shadow" (click)=closeWindow()></div>
  <div class="machine-body">
    <div class="rotary-table">
      <div class="all-screen">
        <div class="screen">
          <ul class="images">
            <li class="image-index" *ngFor="let item of list">
              <img src="{{item.address}}" alt="dish" class="dish-picture">
            </li>
          </ul>
        </div>
        <div class="screen">
          <ul class="images">
            <li class="image-index" *ngFor="let item of list">
              <img src="{{item.address}}" alt="dish" class="dish-picture">
            </li>
          </ul>
        </div>
        <div class="screen">
          <ul class="images">
            <li class="image-index" *ngFor="let item of list">
              <img src="{{item.address}}" alt="dish" class="dish-picture">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="button">
    <button id="button" (click)=start(100)>Play</button>
    <button id="disabled-button">Play</button>
  </div>
  <div class="stick">
    <img [src]="stickPic" alt="stick" id="stick-up" (click)=start(100) *ngIf="stick>0">
    <img [src]="stickPic" alt="stick" id="stick-down" *ngIf="stick<0">
  </div>
  <div class="window">
    <h2>You have gotten {{finalDish.name}}!</h2>
    <div class="buttons">
        <button id="left-button" (click)=closeWindow()>Try again</button>
        <button id="right-button" (click)=jumpToDish()>Get this dish</button>
    </div>
  </div>
</div>
<br>

<!-- bottom -->
<app-footer></app-footer>
