<div class="machine">
  <div class="shadow" (click)=closeWindow()></div>
  <div class="machine-body">
    <div class="rotary-table">
      <div class="all-screen">
        <div class="screen">
          <ul class="images">
            <li class="image-index" *ngFor="let item of list">{{item.name}}</li>
          </ul>
        </div>
        <div class="screen">
          <ul class="images">
            <li class="image-index" *ngFor="let item of list">{{item.name}}</li>
          </ul>
        </div>
        <div class="screen">
          <ul class="images">
            <li class="image-index" *ngFor="let item of list">{{item.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="button">
    <button id="button" (click)=start(100)>Play</button>
  </div>
  <div class="stick" (click)=start(100)></div>
  <div class="window">
    <h2>You have gotten {{finalDish.name}}!</h2>
    <div class="buttons">
        <button id="left-button" (click)=closeWindow()>Try again</button>
        <button id="right-button" (click)=jumpToDish()>Get this dish</button>
    </div>
  </div>
</div>
<br>
<!-- bottom -->
<div class="bottom">
    <div style="margin-top: 30px">
      <a routerLink='/home'>Home</a>
      &nbsp;|&nbsp;
      <a href="https://github.com/Xinyuan-L/SEGP" target="_blank">About us<br/></a>
    </div>
  </div>
