.bottom{
    background-color: #ffaa46;
    color: white;
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 20px;
    height: 50px;
    line-height: 5px;
    padding: 10px;
    width: inherit;
    text-align: center;
  }
  .bottom a{
    color: inherit;
  }
  .bottom a:hover{
    color: #6f6f6f;
  }