.bottom{
  background-color: #ffaa46;
  color: white;
  font-family: Perpetua, sans-serif;
  font-weight: normal;
  font-size: 20px;
  height: 50px;
  line-height: 5px;
  margin-top: 30px;
  padding: 10px;
  width: inherit;
  text-align: center;
  /*position: relative;*/
  /*left: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
}
.bottom a{
  color: inherit;
}
.bottom a:hover{
  color: #6f6f6f;
}
