<!-- Survey -->
<div class="survey">
  <table>
    <!-- q1 -->
    <tr class="question">
      <th><img class="iconOfTitle" src="assets/vegetable.svg" alt="vegetable"></th>
      <th>Are you a vegetarian?</th>
    </tr>
    <tr class="option">
      <th></th>
      <th>
        <input type="radio" (change)=toChange1($event) name="q1" id="q1_1"><label for="q1_1">Yes</label>
        &nbsp;&nbsp;
        <input type="radio" (change)=toChange1($event) name="q1" id="q1_2"><label for="q1_2">No</label>
      </th>
    </tr>
    <tr>
      <th></th>
      <th class="prompt" id="prompt1">Required option!</th>
    </tr>
    <br>
    <!-- q2 -->
    <tr class="question" id="q2" *ngIf="!data.q1">
      <th><img class="iconOfTitle" src="assets/meat.svg" alt="meat"></th>
      <th>Do you have any restrictions on meats?</th>
    </tr>
    <tr class="option" *ngIf="!data.q1">
      <th></th>
      <th>
       <input type="radio" id="q2_1" name="restrict" (click)="setValue(1)"><label for="q2_1">Beef</label>
       &nbsp;&nbsp;
       <input type="radio" id="q2_2" name="restrict" (click)="setValue(2)"><label for="q2_2">Lamb</label>
       &nbsp;&nbsp;
       <input type="radio" id="q2_3" name="restrict" (click)="setValue(3)"><label for="q2_3">Pork</label>
       &nbsp;&nbsp;
       <input type="radio" id="q2_4" name="restrict" (click)="setValue(4)"><label for="q2_4">No restriction</label>
      </th>
    </tr>
    <br>
    <!-- q3 -->
    <tr class="question">
      <th><img class="iconOfTitle" src="assets/chili.svg" alt="chili"></th>
      <th>Do you want spicy food today?</th>
    </tr>
    <tr class="option">
      <th></th>
      <th>
        <input type="radio" (change)=toChange3($event) name="q3" id="q3_1"><label for="q3_1">Yes</label>
        &nbsp;&nbsp;
        <input type="radio" (change)=toChange3($event) name="q3" id="q3_2"><label for="q3_2">No</label>
      </th>
    </tr>
    <tr>
      <th></th>
      <th class="prompt" id="prompt3">Required option!</th>
    </tr>
    <br>
    <!-- q4 -->
    <tr class="question">
      <th><img class="iconOfTitle" src="assets/rice.svg" alt="rice"></th>
      <th>What is your requirement for cooking time?</th>
    </tr>
    <tr class="option">
      <th></th>
      <th>
        <input type="radio" name="q4" id="q4_1" (change)="toggleCheckbox($event)"><label for="q4_1">10 minutes less</label>
        &nbsp;&nbsp;
        <input type="radio" name="q4" id="q4_2" (change)="toggleCheckbox($event)"><label for="q4_2">10 - 15 minutes</label>
        &nbsp;&nbsp;
        <input type="radio" name="q4" id="q4_3" (change)="toggleCheckbox($event)"><label for="q4_3">15 - 30 minutes</label>
        &nbsp;&nbsp;
        <input type="radio" name="q4" id="q4_4" (change)="toggleCheckbox($event)"><label for="q4_4">More than 30 minutes</label>
      </th>
    </tr>
    <tr>
      <th></th>
      <th class="prompt" id="prompt4">Required option!</th>
    </tr>
    <br>
  </table>
  <br>
  <img (click)=doSubmit() src="assets/customize-button.png"
       alt="button" id="submit" routerLink="/slot">
</div>

<!-- <pre>
  {{data | json}}
</pre> -->

<!-- bottom -->
<app-footer></app-footer>
